/*Estilos Gerais*/
*{font-family: 'roboto';}
body {
    margin: 0; 
    min-height: 100vh; /*100% da tela do usuario*/
    padding-bottom: 100px; position: relative;
}
.row {margin: 0;}
.container-fluid {padding: 0;}

/*NAVBAR = MENU */
.cabecalho {
    background-color: #333;
    border-bottom: 5px solid #4faddb; /*borda em baixo*/
    height: 80px;
    box-sizing: content-box; /* borda fica do lado de fora do cabecalho e nao toma os 80px */
}

.logo {display: inline-block; height: 80px; padding: 15px;}
.logo img {height: 100%;}
.menu-togger { /* BOTAO MENU TOGGER */
    float: right;
    color: #eee;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px; /* cantos arrendodados */
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}
.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}
.menu ul {margin: 0; padding: 0;}
.menu li {display: inline-block;}/* para ficar na mesma linha, controlo padding margin etc */
.cabecalho a{
    text-decoration: none;
    color: #eee;
    font-family: 'Oswald';
    font-size: 1.2em;
}
.menu a{ padding: 10px;}/* lista de links */
.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
}
.menu a:hover, 
.menu a.selected {/* isso vai ser colocado via javascript */
    background-color: #4faddb;
    color: #000;
}
.botao {/* BOTAO REGISTRAR DO ASIDE */
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}
.destaque {background: crimson; color: #fff;}

/* AULA 415 PHP LEO UDEMY */
/* Media QUARY pra dimensionar cada tamanho de resolucao */
@media(min-width: 679px){/* se a largura minima for 679px o menu togger vai sumir */
 .menu-togger {display: none;}
}
@media(max-width: 680px){/* se a largura maxima for 680px o menu some e o menu-togger aparece */
    .menu{display: none;}
}
@media(max-width: 750px){/* se a largura maxima for 750px autenticacao some */
    .autenticacao{display: none;}
}
/* USANDO FLAX BOX NO MENU ATUALIZADO, MAIS SIMPLES */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;/* espaço entre os elementos e nao nas pontas, arround que é nas pontas */
}
.menu {flex-grow: 10;} /* ocupa um espaço maior na linha horizontal do menu */
.menu ul {display: flex;}


/* Evento não encontrado */
.nEventEnc{padding-left: 0px;}
.nEventEnc a{text-decoration: none; color: #f2a340;}
.nEventEnc a:hover{color: #f2a340; font-weight: bold;}

.btn-primary {
    background-color: #f2a340;
    border: 2px solid #c28008;
}
.btn-primary:hover { /*quando passa o mouse em cima*/
    background-color: #c28008;
    border-color: 2px solid #c28008;
}

.msg { /*DIV - Mensagem enviada de sucesso quando cria evento*/
    background-color: mediumseagreen;
    color: rgb(37, 70, 52);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(14, 80, 44);
    width: 100%;
    margin-bottom: 0;
}

/*Search Container*/
#search-containar{ /*div de buscar*/
    background-image: url("../img/show1.jpg");
    /*background-size: calc(100% - 100); Aproveitar a área possivel para exibir*/
    background-size: 100%;
    background-position: center;
    text-align: center;
    height: 400px;
    padding: 40px;
    /*border: 2px solid rgb(39, 112, 49);   borda */
}
#search-containar h1{  /*Titulo Encontre Um Evento*/
    color: #fdfdfd;
    margin-bottom: 30px;
    font-weight: 900;
}
#search-containar form{ /*a barra de buscar*/
    width: 50%;
    margin: 0 auto;
    display: flex;
}
#search-containar #btnpes{ /* BOTAO PESQUISAR */
    cursor: pointer;
    background: none;
    color: #fff;
    border: none;
}


/*LISTA DE EVENTOS*/
/*DIV de Eventos*/
#event-container {padding: 20px 40px 40px 40px;}
#event-container h2 {
    margin-bottom: 10px;
}
#event-container .subtitulo{
    color: #757575;
    margin-bottom: 10px;
}
#event-container .subtitle{
    color: rgb(172, 158, 158);
}
#cards-container {display: flex; border: 0;}
#cards-container .card {
    flex: 1 1 25%;/*para pegar 4 cards na tela*/
    max-width: 25%; /*para pegar 4 cards na tela*/
    border-radius: 10px; /*Cantos arredondados*/
    padding: 3px;
    margin-top: 5px;
}
#cards-container img {
   height: 100vh; /*Altura máxima da imagem dentro do quadrado/container*/
   max-height: 200px;
   border-top-left-radius: 10px; /*corta a borda da esquerda*/
   border-top-right-radius: 10px;/*corta a borda da direita*/
   /*object-fit: Ver isso depois, para deixar a imagem certa na div */
}
.card-date{
    font-size: 14px;
    color:#000;
    margin-left: 10px;
}
.card-title{
    font-size: 18px;
    color: #000;
    margin-left: 10px;
    font-weight: bold;
}
.card-participantes{
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}
.card-body #ingresso{
    margin-top: 5px;
    padding: 10px;
    position: center;
}

/* Pagina Evento */
#event-create-container {padding: 30px;}
#event-create-container label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
#itensInfra{font-size: 14px;}
#event-create-container input,
#event-create-container select,
#event-create-container textarea {font-size: 12px;}
#event-create-container .btn-primary{margin-top: 20px;}



/* Pagina de INFORMAÇÕES */
#image-container{ /* Ajustar um tamanho padrão! */
    margin-top: 30px;
    text-align: center;
}
#info-container {margin-top: 30px;}

#info-container #ing{/* BOTAO COMPRAR INGRESSO */
    margin-top: 30px;
    margin-bottom: 30px;
}
#image-container img{border-radius: 30px;}
#info-container p{
    display: flex;
    margin: 0;
    font-size: 14px;
    padding-top: 2px;
}
#info-container #event-submit{ /* BOTÃO */
    margin: 20px 0;
}
#info-container h3{
    padding-top: 10px;
    font-weight: bold;
}
#items-list {
    font-size: 14px;
    padding-left: 0;
    list-style: none;
}
#items-list li {
    display: flex;
}
#info-container h1,
#description-container h3{
    font-weight: bold;
    font-size: 30px;
}
#description-container p{
    text-align: justify;
}
#info-container ion-icon {
    color: #f2a340;
    font-size: 20px;
    margin-right: 5px;
}

/* DASHBOAR PAGE */
.dashboard-title-container{
    margin-bottom: 30px;
    margin-top: 30px;
}
.linkname{ /* LINK DO Nome do evendo no DASHBOARD  */
    text-decoration: none;
    color: brown;
    font-weight: bold;
}
.btn-info{ /* Botao Editar e Deletar no DASHBOARD */
    color: #fff;
}
.btn-info:hover{
    color: #fff;
    background-color: rgb(100, 189, 216);
}

.dashboard-events-container th{
    width: 25%;
}
.dashboard-events-container form{
    display: inline-block;
}

/* Edit PAGE */
.img-preview{
    width: 100px;
    margin-top: 20px;
}

/*Footer = RODAPE*/
footer{
    text-align: center;
    background-color: #353E48;
    color: #fff;
    padding: 30px; /*Espaçamento Interno*/
    position: absolute; /* fundo da tela */
    margin: 0;
    width: 100%;
    bottom: 0px;
    border-top: 5px solid #4faddb;
}
footer p{margin-bottom: 0;}




