/*NAVBAR = MENU */
.cabecalho {
    background-color: #333;
    border-bottom: 5px solid #4faddb; /*borda em baixo*/
    height: 80px;
    box-sizing: content-box; /* borda fica do lado de fora do cabecalho e nao toma os 80px */
}

.logo {display: inline-block; height: 80px; padding: 15px;}
.logo img {height: 100%;}
.menu-togger { /* BOTAO MENU TOGGER */
    float: right;
    color: #eee;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px; /* cantos arrendodados */
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}
.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}
.menu ul {margin: 0; padding: 0;}
.menu li {display: inline-block;}/* para ficar na mesma linha, controlo padding margin etc */
.cabecalho a{
    text-decoration: none;
    color: #eee;
    font-family: 'Oswald';
    font-size: 1.2em;
}
.menu a{ padding: 10px;}/* lista de links */
.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
}
.menu a:hover, 
.menu a.selected {/* isso vai ser colocado via javascript */
    background-color: #4faddb;
    color: #000;
}
.botao {/* BOTAO REGISTRAR DO ASIDE */
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}
.destaque {background: crimson; color: #fff;}

/* AULA 415 PHP LEO UDEMY */
/* Media QUARY pra dimensionar cada tamanho de resolucao */
@media(min-width: 679px){/* se a largura minima for 679px o menu togger vai sumir */
 .menu-togger {display: none;}
}
@media(max-width: 680px){/* se a largura maxima for 680px o menu some e o menu-togger aparece */
    .menu{display: none;}
}
@media(max-width: 750px){/* se a largura maxima for 750px autenticacao some */
    .autenticacao{display: none;}
}
/* USANDO FLAX BOX NO MENU ATUALIZADO, MAIS SIMPLES */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;/* espaço entre os elementos e nao nas pontas, arround que é nas pontas */
}
.menu {flex-grow: 10;} /* ocupa um espaço maior na linha horizontal do menu */
.menu ul {display: flex;}
